* {
 font-size: 17.5px;  
 font-family: monospace;
 text-align: center; /* centres text to middle of screen */
}

.main-recipe {
    color:rgb(0, 129, 241);
}

.description-h4 {
    color:rgb(0, 129, 241);
}

h1 {
    font-size: 30px; 

}

h3 {
    font-size: 20px;
}

ul {
    padding: 0 0 0 0;
}