* {
    text-align: center;
    font-family: monospace;
    list-style-position: inside;
    font-size: 18px;
 }

 .mealinfo-ul.shrimpmeal-steps {
    font-weight: 100;
 }

 .shrimpmeal-steps {
    color: blue;
 }

 img {
    height: 450px;
    width: 450px;
 }